*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  font-family:'Segoe UI',sans-serif;
  background:linear-gradient(135deg,#fbc2eb,#a6c1ee,#ffd6e0);
  color:white;
  overflow-x:hidden;
}

.main{
  min-height:100vh;
  padding:40px 20px;
  text-align:center;
}

.tag{
  display:inline-block;
  padding:10px 22px;
  border-radius:30px;
  background:rgba(255,255,255,.25);
  font-weight:700;
  margin-bottom:18px;
}

h1{
  font-size:3rem;
  font-weight:900;
  margin-bottom:15px;
  text-shadow:0 5px 18px rgba(0,0,0,.18);
}

.intro{
  font-size:1.1rem;
  margin-bottom:35px;
}

.wall{
  max-width:1050px;
  margin:0 auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.polaroid{
  background:white;
  color:#ff4f81;
  padding:16px 16px 20px;
  border-radius:8px;
  cursor:pointer;
  box-shadow:0 12px 35px rgba(0,0,0,.25);
  transition:.35s;
  transform:rotate(-2deg);
}

.polaroid:nth-child(even){
  transform:rotate(3deg);
}

.polaroid:hover{
  transform:scale(1.06) rotate(0deg);
}

.polaroid img{
  width:100%;
  height:210px;
  object-fit:cover;
  border-radius:5px;
  background:#eee;
}

.polaroid p{
  font-size:1rem;
  margin-top:16px;
  font-weight:800;
}

.secret{
  background:#fff0f6;
}

.memory-box{
  max-width:750px;
  margin:35px auto 0;
  padding:25px;
  border-radius:25px;
  background:rgba(255,255,255,.25);
  backdrop-filter:blur(12px);
  font-size:1.1rem;
  line-height:1.7;
  min-height:100px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:.4s;
}

.float{
  position:fixed;
  bottom:-30px;
  font-size:24px;
  animation:floatUp linear forwards;
  pointer-events:none;
}

@keyframes floatUp{
  to{
    transform:translateY(-110vh) rotate(360deg);
    opacity:0;
  }
}

@media(max-width:768px){
  h1{
    font-size:2rem;
  }

  .wall{
    grid-template-columns:1fr;
    max-width:340px;
  }

  .polaroid img{
    height:220px;
  }
}